<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOB SHIN - 모의 기술 면접 서비스</title>
    <!-- Normalize.css 추가 -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<div th:replace="~{layout/header.html :: header}"></div>
<main class="main">
  
    <section class="hero information">
        <div class="text">
            <img src="/img/information-background-image.png" alt="information 글자 배경">
            <h1 th:text="'모의 기술 면접 서비스, ' + ${siteName}">모의 기술 면접 서비스, JOB SHIN</h1>
            <p th:text="${heroMessage}">AI가 질문을 하고 피드백까지 제공하는 모의면접을 체험하라!</p>
            <a class="btn" th:href="@{/views/interviewMainPage}">Get started</a>
        </div>
        <div class="header-mock-image">
            <img src="/img/main-header-mock-image.png" alt="모의면접 응시하기 목 이미지">
        </div>
    </section>


    <section class="feature">
        <h2>AI 챗봇 기반으로<br>진행 되는 기술면접</h2>
        <p th:text="${featureDescription1}">JOB SHIN은 '챗봇'이라는 AI 챗봇을 기반으로 한 모의 기술 면접 서비스입니다...</p>
    </section>

    <section class="feature-mode">
        <div class="feature-text">
            <h2>효율적인 대비를 위한 실전 모드, 연습 모드 지원</h2>
            <p>JOB SHIN은 여러분들의 기술 면접 준비를 더욱 효율적으로 할 수 있도록 두 가지 모드를 지원합니다.</p>
        </div>
        <div class="feature-content">
            <div class="feature-item practice">
                <img th:src="@{/img/practice-interview-mock.png}" alt="연습 모드">
                <h3>연습 모드</h3>
                <p th:text="${practiceModeDescription}">면접 전 충분한 연습이 필요하다면? 연습 모드로 여유롭게 준비하세요...</p>
            </div>
            <div class="feature-item real">
                <img th:src="@{/img/real-interview-mock.png}" alt="실전 모드">
                <h3>실전 모드</h3>
                <p th:text="${realModeDescription}">면접 전 긴장감을 높이고 싶다면? 실전 문제 풀이로 실제와 유사한 면접
                    환경을
                    체험해보세요...</p>
            </div>
        </div>
    </section>

    <section class="feature-feedback">
        <div class="feature-feedback-text">
            <h2>AI가 직접 제시하는 답변 피드백</h2>
            <p th:text="${feedbackDescription}">JOB SHIN은 면접이 종료된 후, 여러분들로부터 받은 답변 피드백을 면접 유형별, 문항별로
                제공합니다...</p>
        </div>
        <img th:src="@{/img/interview-feedback-mock.png}" alt="AI 피드백 화면">
    </section>

    <section class="cta">
        <h2 th:utext="'JOB SHIN과 함께<br>면접도 JOB고, 취업도 JOB고 싶다면?'">JOB SHIN과 함께<br>면접도 JOB고, 취업도 JOB고
            싶다면?
        </h2>
        <a href="#" class="btn" th:href="@{/views/interviewMainPage}">지금 바로 면접 보기</a>
    </section>
</main>
</body>
</html>