<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/mypage.css">
    <!--	<link rel="stylesheet" href="/css/sidebar.css">-->
</head>
<body>
<div th:replace="~{layout/header.html :: header}"></div>
<main class="main">
    <div class="container">

        <!-- Main Content Section -->
        <section class="content-header">
            <h1>마이 페이지</h1>
            <hr>
        </section>

        <section class="content-main">
            <h2>계정 정보</h2>
            <div class="my-page-link-group">
                <a href="/views/users/edit" class="my-page-link">
                    <img src="/img/my-page-edit.png" alt="회원 정보 수정 페이지로 이동">
                    <p>회원 정보 수정</p>
                </a>
                <a href="/views/users/interviews/practice" class="my-page-link">
                        <img src="/img/interview-history.png" alt="모의 면접 연습 모드 이력 조회">
                        <p>연습 모드 이력 조회</p>
                </a>
                <a href="/views/users/interviews/real" class="my-page-link">
                    <img src="/img/interview-history.png" alt="모의 면접 실전 모드 이력 조회">
                    <p>실전 모드 이력 조회</p>
                </a>
            </div>
        </section>
    </div>
</main>
</body>
</html>