<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Interview Details</title>
</head>
<body>
<h1>인터뷰 상세 페이지</h1>
<table>
    <tr>
        <th>인터뷰 번호</th>
        <th>인터뷰 생성일시</th>
        <th>인터뷰 제목</th>
    </tr>
    <tr>
        <td th:text="${interviewDetails.id}"></td>
        <td th:text="${interviewDetails.createdAt}"></td>
        <td th:text="${interviewDetails.title}"></td>
    </tr>
</table>

<h2>인터뷰 상세</h2>
<table>
    <tr>
        <th>Question</th>
        <th>Answer</th>
        <th>Score</th>
    </tr>
    <tr th:each="detail : ${interviewDetails.details}">
        <td th:text="${detail.question}"></td>
        <td th:text="${detail.answer}"></td>
    </tr>
</table>
<a href="#" th:href="@{/views/interviews/practice}">Back to List</a>
</body>
</html>