<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/table.css">
	<link rel="stylesheet" href="/css/page.css">
    <title>Practice Interview List</title>
</head>
<body>
<div th:replace="~{layout/header.html :: header}"></div>
<main class="main">
    <div class="container">
        <!-- Sidebar Sec-->
        <aside class="sidebar">
            <div class="sidebar-section">
                <h3>마이 페이지<hr></h3>
                <h4>계정 정보</h4>
                <ul class="sidebar-menu">
                    <li><a href="/views/users/edit">회원 정보 수정</a></li>
                    <li><a href="/views/interviews/history">면접 이력</a></li>
                    <li><a href="/views/users/withdrawal">회원 탈퇴</a></li>
                </ul>
            </div>
            <div class="sidebar-section">
                <hr>
                <h4>면접 기록</h4>
                <ul class="sidebar-menu">
                    <li><a href="/views/users/interviews/practice">연습 모드 이력</a></li>
                    <li><a href="/views/users/interviews/real">실전 모드 이력</a></li>
                    <li><a href="/views/interviews/scheduled">Today's Scheduled</a></li>
                </ul>
            </div>
        </aside>
        <section class="content">
	        <h1>연습 모드 이력 페이지입니다.</h1>
            <table class="table">
                <thead class="table-light">
                <tr>
                    <th>번호</th>
                    <th>응시 일시</th>
                    <th>점수</th>
	                <th>문제 분류</th>
                    <th>카테고리</th>
                </tr>
                </thead>
                <tbody align="center">
                <!-- 인터뷰 데이터 렌더링 -->
                <tr th:each=" interview : ${interviewSummaryList}">
                    <td><a th:href="@{/views/users/interviews/practice/{id}(id = ${interview.id})}" th:text="${interview.id}">번호</a></td>
                    <td><a th:href="@{/views/users/interviews/practice/{id}(id = ${interview.id})}" th:text="${interview.createdAt}">생성 일시</a></td>
                    <td th:text="${interview.score}">점수</td>
	                <td th:text="${interview.title}">문제 분류</td>
                    <td th:text="${interview.category}">카테고리</td>
                </tr>
                </tbody>
            </table>
	        
	        <!-- 페이지네이션 버튼 -->
	        <nav aria-label="Page navigation">
		        <!--표에 사용될 변수값 초기화 -->
		        <ul class="pagination justify-content-center"
		            th:with="start=${T(java.lang.Math).floor(interviewSummaryList.number / 10) * 10 + 1}, last=(${start + 9 < interviewSummaryList.totalPages ? start + 9 : interviewSummaryList.totalPages})">
			        <th:block th:with="
            firstAddr=@{/views/users/interviews/practice(page=1)},
            prevAddr=@{/views/users/interviews/practice(page=${interviewSummaryList.number})},
            nextAddr=@{/views/users/interviews/practice(page=${interviewSummaryList.number + 2})},
            lastAddr=@{/views/users/interviews/practice(page=${interviewSummaryList.totalPages})}">
				        <li class="page-item">
					        <a class="page-link" th:href="${firstAddr}" aria-label="First">
						        <span aria-hidden="true"> << </span>
					        </a>
				        </li>
				        <!-- 이전 페이지로 가기 버튼 -->
				        <li class="page-item" th:class="${interviewSummaryList.first} ? 'disabled'">
					        <a class="page-link"
					           th:href="${interviewSummaryList.first} ? '#' :${prevAddr}"
					           aria-label="Previous">
						        <span aria-hidden="true">&lt;</span>
					        </a>
				        </li>
				        <!--1,2,3,4,.. 등 페이지-->
				        <li class="page-item" th:each="page: ${#numbers.sequence(start, last)}"
				            th:class="${page == interviewSummaryList.number + 1} ? 'active'">
					        <a class="page-link" th:text="${page}"
					           th:href="@{/views/users/interviews/practice(page=${page})}"></a>
				        </li>
				        <!--다음 페이지로 -->
				        <li class="page-item" th:class="${interviewSummaryList.last} ? 'disabled'">
					        <a class="page-link"
					           th:href="${interviewSummaryList.last} ? '#' : ${nextAddr}"
					           aria-label="Next">
						        <span aria-hidden="true">&gt;</span>
					        </a>
				        </li>
				        <!--맨 마지막 페이지로 이동 -->
				        <li class="page-item">
					        <a class="page-link" th:href="${lastAddr}" aria-label="Last">
						        <span aria-hidden="true"> >> </span>
					        </a>
				        </li>
			        </th:block>
		        </ul>
	        </nav>
        </section>
        
    </div>
</main>
</body>
</html>