<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>마이페이지</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/sidebar.css">
	<link rel="stylesheet" href="/css/table.css">
	<link rel="stylesheet" href="/css/page.css">
</head>
<body>
<div th:replace="~{layout/header.html :: header}"></div>
<main class="main">
	<div class="container">
		<!-- Sidebar Section -->
		<aside class="sidebar">
			<div class="sidebar-section">
				<h3>마이 페이지</h3>
				<ul class="sidebar-menu">
					<li><a href="/views/users/edit">회원 정보 수정</a></li>
					<li><a href="/views/interviews/history">면접 이력</a></li>
					<li><a href="/views/users/withdrawal">회원 탈퇴</a></li>
				</ul>
			</div>
			<div class="sidebar-section">
				<h3>면접 기록</h3>
				<ul class="sidebar-menu">
					<li><a href="/views/users/interviews/practice">연습 모드 이력</a></li>
					<li><a href="/views/users/interviews/real">실전 모드 이력</a></li>
					<li><a href="/views/interviews/scheduled">Today's Scheduled</a></li>
				</ul>
			</div>
		</aside>
		
		<!-- Main Content Section -->
		<section class="content">
			<h1>실전 모드 이력 페이지입니다.</h1>
			<table class="table">
				<thead class="table-light">
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>응시자</th>
					<th>응시 일자</th>
				</tr>
				</thead>
				<tbody align="center">
				<tr th:each=" interview : ${interviewSummaryList}">
					<td th:text="${interview.id}"><a th:href="@{/admin/users/{username}(username=${user.username})}" th:text="${user.username}">회원 아이디</a></td>
					<td th:text="${interview.title}">제목</td>
					<td th:text="${interview.nickname}">사용자 이름</td>
					<td th:text="${interview.createdAt}">날짜 및 시간</td>
				</tr>
				</tbody>
			</table>
			
			<!-- 페이지네이션 버튼 -->
			<nav aria-label="Page navigation">
				<!--표에 사용될 변수값 초기화 -->
				<ul class="pagination justify-content-center" th:with="start=${T(java.lang.Math).floor(interviewSummaryList.number / 10) * 10 + 1}, last=(${start + 9 < interviewSummaryList.totalPages ? start + 9 : interviewSummaryList.totalPages})">
					<th:block th:with="
            firstAddr=@{/views/users/interviews/real(page=1)},
            prevAddr=@{/views/users/interviews/real(page=${interviewSummaryList.number})},
            nextAddr=@{/views/users/interviews/real(page=${interviewSummaryList.number + 2})},
            lastAddr=@{/views/users/interviews/real(page=${interviewSummaryList.totalPages})}">
						<li class="page-item">
							<a class="page-link" th:href="${firstAddr}" aria-label="First">
								<span aria-hidden="true"> << </span>
							</a>
						</li>
						<!-- 이전 페이지로 가기 버튼 -->
						<li class="page-item" th:class="${interviewSummaryList.first} ? 'disabled'">
							<a class="page-link" th:href="${interviewSummaryList.first} ? '#' :${prevAddr}"
							   aria-label="Previous">
								<span aria-hidden="true">&lt;</span>
							</a>
						</li>
						<!--1,2,3,4,.. 등 페이지-->
						<li class="page-item" th:each="page: ${#numbers.sequence(start, last)}"
						    th:class="${page == interviewSummaryList.number + 1} ? 'active'">
							<a class="page-link" th:text="${page}" th:href="@{/views/users/interviews/real(page=${page})}"></a>
						</li>
						<!--다음 페이지로 -->
						<li class="page-item" th:class="${interviewSummaryList.last} ? 'disabled'">
							<a class="page-link" th:href="${interviewSummaryList.last} ? '#' : ${nextAddr}"
							   aria-label="Next">
								<span aria-hidden="true">&gt;</span>
							</a>
						</li>
						<!--맨 마지막 페이지로 이동 -->
						<li class="page-item">
							<a class="page-link" th:href="${lastAddr}" aria-label="Last">
								<span aria-hidden="true"> >> </span>
							</a>
						</li>
					</th:block>
				</ul>
			</nav>
		</section>
	</div>
</main>
</body>
</html>