<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/user.css">
  <style>
    .field-error {
      border-color: #dc3545;
      color: #dc3545;
    }
  </style>
</head>
<body>
<div th:replace="~{layout/header.html :: header}"></div>
<div class="container">

  <!-- 회원가입 폼 -->
  <form th:action="@{/view/signup}" method="post" id="signup-form">
    <div class="py-5 text-center">
      <h2>회원가입</h2>
    </div>

    <!-- 에러 메시지 표시 -->
    <div id="error-message" class="alert alert-danger" role="alert" style="display: none;">
      <p id="error-text"></p>
    </div>

    <div class="form-group">
      <label for="username">이메일</label>
      <input type="email" id="username" name="username" class="form-control"
             placeholder="이메일을 입력해주세요" required>
      <div class="field-error" th:errors="*{createUserRequest.username}">
      </div>
    </div>

    <div class="form-group">
      <label for="password">비밀번호</label>
      <input type="password" id="password" name="password" class="form-control"
             placeholder="비밀번호를 입력해주세요" required>
      <div class="field-error" th:errors="*{createUserRequest.password}">
      </div>
    </div>

    <div class="form-group">
      <label for="username">이름</label>
      <input type="text" id="nickname" name="nickname" class="form-control" placeholder="이름을 입력해주세요"
             required>
      <div class="field-error" th:errors="*{createUserRequest.nickname}">
      </div>
    </div>

    <div class="form-group">
      <label for="language">언어</label>
      <select id="language" name="language" class="form-control" required>
        <option value="JAVA">java</option>
        <option value="PYTHON">python</option>
        <option value="JAVASCRIPT">js</option>
      </select>
      <small class="form-text text-danger" id="language-error"></small>
    </div>

    <div class="form-group">
      <label for="position">직무</label>
      <select id="position" name="position" class="form-control" required>
        <option value="BACKEND">백</option>
        <option value="FRONTEND">프론트</option>
        <option value="FULLSTACK">풀</option>
      </select>
      <small class="form-text text-danger" id="position-error"></small>
    </div>

    <button type="submit" class="btn btn-primary btn-lg btn-block">회원가입</button>
  </form>
</div>
</body>
</html>
