<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>모의 면접 연습모드 입장 페이지</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/interviewPracticeEnter.css">
</head>
<body>
<div th:replace="~{layout/header.html :: header}"></div>
<main class="mainBody">
    <div class="mainCont">
        <h1>모의 면접</h1>
        <hr>
        <div class="sectionCont">
            <section>
                <h2>연습모드</h2>
                <div class="practiceMode">
                    <p class="text1">지원자 님은<br>연습모드를 선택하셨습니다.</p>
                    <p class="text2">계속 진행하려면 아래의 '시작하기'<br>버튼을 클릭해주세요.</p>
                    <div class="categoryBox">
                        <div class="category">
                            <div class="radio">
                                <label for="cs">CS</label>
                                <input id="cs" name="category" value='CS' class="option" type="radio" />
                            </div>
                            <div class="radio">
                                <label for="language">Language</label>
                                <input id="language" name="category" value='LANGUAGE' class="option" type="radio" />
                            </div>
                            <div class="radio">
                                <label for="algorithm">Algorithm</label>
                                <input id="algorithm" name="category" value='ALGORITHM' class="option" type="radio" />
                            </div>
                            <div class="radio">
                                <label for="network">Network</label>
                                <input id="network" name="category" value='NETWORK' class="option" type="radio" />
                            </div>
                            <div class="radio">
                                <label for="data_structure">Data_Structure</label>
                                <input id="data_structure" name="category" value='DATA_STRUCTURE' class="option" type="radio" />
                            </div>
                            <div class="radio">
                                <label for="database">Database</label>
                                <input id="database" name="category" value='DATABASE' class="option" type="radio" />
                            </div>
                            <div class="radio">
                                <label for="operating_system">Operating_System</label>
                                <input id="operating_system" name="category" value='OPERATING_SYSTEM' class="option" type="radio" />
                            </div>
                            <div class="radio">
                                <label for="git">Git</label>
                                <input id="git" name="category" value='GIT' class="option" type="radio" />
                            </div>
                            <div class="radio">
                                <label for="design_pattern">Design_Pattern</label>
                                <input id="design_pattern" name="category" value='DESIGN_PATTERN' class="option" type="radio" />
                            </div>
                        </div>
                        <div class="buttonCont">
                            <a class="click" th:href="@{/views/main}">돌아가기</a>
                            <button class="click" onclick="createQuestions2()" type="button">시작하기</button>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <h2>참고사항</h2>
                <ul class="confer">
                    <li class="conferText">연습모드는 특정 분야 내에서만 질문이 생성되며, 분야는 선택할 수 있습니다.</li>
                    <li class="conferText">질문 개수는 총 5개 입니다.</li>
                    <li class="conferText">진행 방식은 실전 모드와 동일하게 문제에 대한 답을 텍스트로 작성해주시면 됩니다.</li>
                    <li class="conferText">응시한 면접 질문 내역은 마이페이지 메뉴에서 확인할 수 있습니다.</li>
                </ul>
            </section>
        </div>
    </div>
</main>
<div id="loadingModal" class="modal">
    <div class="modal-content">
        <p>문제 생성이 완료되면 면접페이지로 자동으로 이동합니다. 잠시만 기다려주세요...</p>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    const loadingModal = document.getElementById('loadingModal');

    let TOKEN = $("meta[name='_csrf']").attr("content");
    let HEADER = $("meta[name='_csrf_header']").attr("content");

    // 질문 생성
    function createQuestions2(){
        const category = $("input[name='category']:checked").val();
        localStorage.setItem('category', category);

        if (category == null) {
            alert("카테고리를 선택해주세요.");
            return;
        }
        console.log('createQuestions() 함수 실행')
        loadingModal.style.display = 'block';
        $.ajax({
            type: 'POST',
            beforeSend : function(xhr) {
                xhr.setRequestHeader(HEADER, TOKEN);
            },
            url: "/api/mock-interviews/practice?category=" + category,
            contentType: 'application/json; charset =utf-8',
            dataType: 'json',
            success: function () {
                loadingModal.style.display = 'none';
                returnQuestionPage();
            },
            error: function (request, status, error){
                alert("질문 구성 중 오류가 발생했습니다.");
                loadingModal.style.display = 'none';
                console.log(error);
            }
        });
    }

    function returnQuestionPage() {
        const url = new URL(window.location.href);
        const params = new URLSearchParams(url.search);
        const mode = params.get('mode');
        window.location.href = "/views/interview/question?mode=" + mode;
    }
</script>
</body>
</html>