<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모의 면접 연습모드 입장 페이지</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/interviewPracticeEnter.css">
</head>
<body>
<div th:replace="~{layout/header.html :: header}"></div>
<main class="mainBody">
    <div class="mainCont">
        <h1>모의 면접 - 연습 모드</h1>
        <hr>
        <div class="sectionCont">
            <section>
                <h2>연습모드</h2>
                <div class="realMode">
                    <p class="text1">지원자 님은<br>연습모드를 선택하셨습니다.</p>
                    <p class="text2">계속 진행하려면 아래의 '시작하기'<br>버튼을 클릭해주세요.</p>
                    <div class="buttonCont">
                        <a th:href="@{/interview/interviewMainPage}">돌아가기</a>
                        <button onclick="createQuestions()">시작하기</button>
                    </div>
                </div>
            </section>
            <section>
                <h2>참고사항</h2>
                <ul class="realMode">
                    <li>연습모드는 특정 분야 내에서만 질문이 생성되며, 분야는 선택할 수 있습니다.</li>
                    <li>질문 개수는 총 5개 입니다.</li>
                    <li>진행 방식은 실전 모드와 동일하게 문제에 대한 답을 텍스트로 작성해주시면 됩니다.</li>
                    <li>응시한 면접 질문 내역은 마이페이지 메뉴에서 확인할 수 있습니다.</li>
                </ul>
            </section>
        </div>
    </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    // 질문 생성
    function createQuestions(){

        // 임시 데이터 삽입
        const params = {
            title: "test",
            mode: "PRACTICE"
        }
        console.log('createQuestions() 함수 실행')

        $.ajax({
            url: `/api/mock-interviews`,
            type: 'POST',
            contentType: 'application/json; charset =utf-8',
            dataType: 'json',
            data: JSON.stringify(params),
            success: function (response) {
                returnQuestionPage();
            },
            error: function (request, status, error){
                console.log(error);
            }
        });
    }

    // postTypeId에 따라 반환되는 게시판 링크가 다르게 설정
    function returnQuestionPage() {
        window.location.href = '/views/question';
    }
</script>
</body>
</html>