<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모의 면접</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/interviewMainPage.css">
</head>
<body>
<div th:replace="~{layout/header.html :: header}"></div>
<main class="mainBody">
    <div class="mainCont">
        <h1>모의 면접</h1>
        <hr>
        <section class="mainSection">
            <img class="logo" src="/img/logo.png" alt="로고">
            <h2 class="goToInterview">모의 면접<br>응시하기</h2>
            <p class="content">총 5개의 질문이 출제됩니다.</p>
            <div class="buttonCont">
                <a href="interviewPracticeEnter.html" th:href="@{/interview/interviewPracticeEnter}" class="practiceMode">연습모드</a>
                <a href="interviewPracticeEnter.html" th:href="@{/interview/interviewRealEnter}" class="realMode">실전모드</a>
            </div>
        </section>
    </div>
</main>
</body>
</html>