<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모의 면접</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/interviewQuestion.css">
</head>
<body>
<div th:replace="~{layout/header.html :: header}"></div>
<main class="mainBody">
    <div class="mainCont">
        <h1>모의 면접 - 연습 모드</h1>
        <hr>
        <section class="questionCont">
            <div class="questionBox">
                <a class="goToBack">처음으로 돌아가기</a>
                <div class="question">
                    <h2>Q1</h2>
                    <p class="content">ArrayList와 LinkedList의 차이점에 대해 말해주세요.</p>
                </div>
            </div>
            <div class="completeSubmit" style="display: none">
                <span class="textSubmit">제출되었습니다.</span>
                <button id="nextBtn" onclick="getQuestions()">다음 문제</button>
            </div>
            <form class="answerBox">
                <label for="answer" style="display: none"></label>
                <textarea id="answer" name="answer" placeholder="답변을 입력하세요"></textarea>
                <button id="submitBtn" type="submit"><img class="sendLogoImg" src="/img/Send.png" alt="전송 버튼"></button>
            </form>
        </section>
    </div>
</main>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    let currentProblem = 1;

    // $(document).ready(function () {
    window.onload = () => {
        createQuestions();

        // 다음 질문으로 넘어가기
        $('.answerBox').submit(function (event) {
            event.preventDefault();

            let answer = $('#answer').val();

            $.ajax({
                url: `/api/mock-interviews/next`,
                type: 'POST',
                data: {answer: answer},
                success: function (response) {
                    $('.answerBox').hide();
                    $('#answer').show();
                },
                error: function (error) {
                    console.error("답변 제출 중 오류가 발생하였습니다: ", error);
                }
            });

            if (currentProblem < 5) {
                currentProblem++;
            } else {
                $('#nextBtn').prop('disabled', true).text('답변 완료');
            }
        });

        // $('#nextBtn').click(function (){
        //     getQuestions();
        // })
// });
    };

    // 질문 생성
    function createQuestions(){

        // 임시 데이터 삽입
        // const params = {
        //     title: "test",
        //     mode: "REAL"
        // }

        $.ajax({
            url: `/api/mock-interviews`,
            type: 'POST',
            contentType: 'application/json; charset =utf-8',
            dataType: 'json',
            // data: JSON.stringify(params),
            success: function (response) {
                getQuestions();
            },
            error: function (request, status, error){
                console.log(error);
            }
        });
    }

    // 면접 질문 불러오기
    function getQuestions() {
        const questionCont = document.getElementsByClassName('.content');

        $.ajax({
            url: `/api/mock-interviews/next`,
            type: 'GET',
            dataType: 'text',
            success: function (response) {
                // let questionHtml = '';
                $('questionCont').html(`<p class="content">${response}</p>`);
            },
            error: function(error) {
                console.error('문제 가져오는 중 오류 발생: ', error);
            }
        });
    }
</script>
</html>