<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>모의 면접 종료</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/LevelFeedback.css">
</head>
<body>
<div th:replace="~{layout/header.html :: header}"></div>
<main class="container">
    <h1>모의 면접 종료</h1>
    <div id="message-box">
        면접 질문에 대한 난이도를 선택해 주세요
    </div>

    <form id="difficultyForm" method="post">
        <!-- 난이도 선택 폼 -->
        <div class="options">
            <!-- 난이도 선택 버튼들 -->
            <div class="option">
                <label for="hard" style="display: none"></label>
                <input id="hard" name="level" value='상' class="option-button" type="button" onclick="setDifficulty()" />
            </div>
            <div class="option">
                <label for="normal" style="display: none"></label>
                <input id="normal" name="level" value='중' class="option-button" type="button" onclick="setDifficulty()" />
            </div>
            <div class="option">
                <label for="easy" style="display: none"></label>
                <input id="easy" name="level" value='하' class="option-button" type="button" onclick="setDifficulty()" />
            </div>
        </div>
        <!-- 난이도 선택 후 폼 제출 버튼 -->
        <button id="levelSubmit" type="button" onclick="submitForm()">완료</button>
    </form>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:inline="javascript">
    let token = $("meta[name='_csrf']").attr("content");
    let header = $("meta[name='_csrf_header']").attr("content");

    let feedback = null;
    let score = 0;

    // AlFeedback 페이지에서 받아온 데이터
    const scoreAverage = parseInt(localStorage.getItem('score'), 10) / 5;

    // 난이도 점수 반환
    function setDifficulty() {
        let buttons = document.getElementsByClassName("option-button");
        for (let i = 0; i < buttons.length; i++) {
            buttons[i].style.backgroundColor = "#f0f0f0";
            buttons[i].style.color = "#000";
        }

        event.target.style.backgroundColor = "#1a73e8";
        event.target.style.color = "#fff";

        let checked = event.target.value;

        if (checked === '상') {
            feedback = 0;
        }
        if (checked === '중') {
            feedback = 50;
        }
        if (checked === '하') {
            feedback = 100;
        }

        return feedback;
    }

    // 총 점수 반환
    function setScore() {
        feedback = setDifficulty() + scoreAverage;
        score = feedback / 2;
        return score;
    }

    // 총 점수를 서버로 전송
    function submitForm() {
        if (feedback == null) {
            alert("난이도를 선택해주세요.");
            return;
        }

        let form = document.getElementById('difficultyForm');
        let score = setScore();
        form.action = '/api/users/updateLevel?score=' + encodeURIComponent(score);

        fetch(form.action, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                [header]: token
            },
            body: JSON.stringify({level: score})
        })
        .then(response => {
            if (response.redirected) {
                window.location.href = response.url;
            } else {
                alert("요청처리 중 오류가 발생하였습니다. 다시 시도해주세요.");
                console.error('Error:', response.statusText);
            }
        });
    }
</script>
</body>
</html>