*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

.mainBody{
    padding: 28px;
    height: 100%;
}

h1{
    padding: 38px 0 10px 0;
    font-size: 24px;
    font-weight: bold;
    color: #5E8DC0;
}
.mainCont{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 35px;
    border-radius: 6px;
    border: 2px solid #B5B5B5;
}
hr{
    margin-bottom: 99px;
}
.mainSection{
    display: flex;
    width: 493px;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid #B5B5B5;
    margin-bottom: 97px;
}
.logo{
    padding: 51px 0 61px 0;
}

.goToInterview{
    font-size: 45px;
    text-align: center;
}

.content{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 47px;
}

.buttonCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    padding-bottom: 51px;
}

a{
    padding: 16px 25px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: #0F4584;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}