/* 마이 페이지 */
a {
  color: inherit; /* 부모 요소의 색상을 상속 */
  text-decoration: none; /* 밑줄 제거 */
}

.container .content-header {
  margin: 35px 35px 0;
}

.container .content-main {
  margin: 40px 0 0 90px;
}

.container .content-main .my-page-link-group {
  display: flex;
  justify-content: space-evenly;
  margin-top: 41px;
}

.container .content-main .my-page-link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #333333;
  width: 278px;
  height: 150px;
}

.container .content-main .my-page-link img {
  width: 83px;
  height: 83px;
}

/* 회원 정보 수정 페이지 */
.container .edit-form {
  margin-top: 106px;
  width: 100%;
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  align-items: center; /* 수평 중앙 정렬 */
}

.container .edit-form h2 {
  text-align: center;
}

.container .edit-form .form-group {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 500px;
  height: 63px;
  margin-bottom: 13px;
}

.container .edit-form .form-group input, .container .edit-form .form-group select {
  border-width: 1px;
  border-radius: 4px;
  height: 39px;
  width: 98%;
  align-items: center;
  font-size: 14px;
}

.container .edit-form .col {
  margin-top: 75px;
  width: 500px;
  display: flex;
  justify-content: space-evenly;
}

.container .edit-form .col button {
  width: 100px;
  height: 50px;
  background-color: #0F4584;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

